.login-page {
  .footer {
    text-align: "center";
    width: "100%"
  }
  .forgot-password {
    text-align: right;
    margin-bottom: 10px;
  }
  .ant-form-item-explain-error {
    text-align: left;
  }
}